---
layout: default 
banner: 
  intro: Welcome to
  heading: The Yoga Studio
cta:
  heading: Duis Aute Irure
  description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti autem pariatur nostrum accusantium veniam. Suscipit nemo, qui mollitia atque impedit, culpa asperiores beatae provident ullam error odio similique inventore nesciunt?
  button: 
    url: "#"
    text: Sign Up
seo: 
  title: The Yoga Studio for Mandala Yoga in Canggu, Bali
  description: Description that includes relevant key words
  keywords: 
  social_image: 
  hide-from-google: false
---

<!-- Header -->
{% include hero-banner.html %}

<!-- CTA -->
{% include split-section.html %}

<!-- Our Classes -->
<section class="grid grid-cols-2">
  {% include cta.html %}
  <div class="grid grid-cols-2">
    {% for item in site.yoga-classes limit:4 %}
        {% include class-loop-item-square.html %}
    {% endfor %}
  </div>
</section>

<!-- Teachers -->
<section>
  <h2>Meet our Teachers</h2>
  <div class="grid grid-cols-3">
    {% for item in site.teachers limit:3 %}
      {% include teacher-loop-item-square.html %}
    {% endfor %}
  </div>
</section>