---
layout: default 
banner: 
  intro: Welcome to
  heading: The Yoga Studio
half-section:
  heading: Duis Aute Irure
  description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti autem pariatur nostrum accusantium veniam. Suscipit nemo, qui mollitia atque impedit, culpa asperiores beatae provident ullam error odio similique inventore nesciunt?
  button: 
    url: "#"
    text: Sign Up
seo: 
  title: The Yoga Studio for Mandala Yoga in Canggu, Bali
  description: Description that includes relevant key words
  keywords: 
  social_image: 
  hide-from-google: false
---

<!-- Header -->
{% include hero-banner.html %}

<!-- CTA -->
{% include half-section.html %}