---
layout: default
banner:
  intro: Welcome to
  heading: Samadhi Shala
  image_path: /uploads/samadhi-shala-12.jpg
  image_focus: center
cta:
  heading: $108 Unlimited Yoga Pass
  description: >-
    Gain unlimited access to all our classes for your first month with our
    Unlimited Yoga Pass. Join us for Mysore-style Ashtanga or guided sessions,
    suitable for all levels. Start your yoga journey.
  button:
    url: '#'
    text: Sign Up
  image:
    image_path: /uploads/samadhi-shala-13.jpg
    image_focus: center
classes:
  heading: Classes
  description: >-
    Discover the essence of yoga at our studio, where tradition meets modern
    practice. With Mysore-style Ashtanga and guided classes, we cater to all
    levels, from beginners to advanced practitioners. Our authorized instructors
    from the Sharath Yoga Center in Mysore, India, ensure an authentic and
    enriching experience on your yoga journey.
  button:
    url: /classes
    text: Find Out More
  image:
    image_path: /uploads/samadhi-shala-3.jpg
    image_focus: center 20%
seo:
  title: The Yoga Studio for Mandala Yoga in Canggu, Bali
  description: Description that includes relevant key words
  keywords:
  social_image:
  hide-from-google: false
---
<!-- Header -->
{% include hero-banner.html %}

<!-- CTA -->
{% include split-section.html %}

<!-- Our Classes -->
<section class="grid md:grid-cols-2">
  <div class="bg-image-style flex flex-col justify-end text-light border-y border-l border-feature" style="background-image: url('{{page.classes.image.image_path}}'); background-position: {{page.classes.image.image_focus}};">
    {% include cta.html cta=page.classes %}
  </div>
  <div class="grid grid-cols-2 divide-x divide-y divide-feature overflow-clip border border-feature">
    {% for item in site.yoga-classes limit:4 %}
    <div class="-m-px">
        {% include class-loop-item-square.html %}
    </div>
    {% endfor %}
  </div>
</section>

<!-- Teachers -->
<section class="p-5p">
  <h2 class="heading-md">Meet our Teachers</h2>
  <div class="grid md:grid-cols-3 gap-4">
    {% for item in site.teachers limit:3 %}
      {% include teacher-loop-item-square.html %}
    {% endfor %}
  </div>
</section>