/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {

    nav {
        @apply text-pumpkin font-sans uppercase tracking-wide
    }

    nav a {
        @apply py-2 px-4 my-2 mx-4
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif text-pumpkin mb-8 tracking-wide
    }

    p {
        @apply font-p tracking-wide mb-4
    }

    /* Typography Classes */

    .heading-sm {
        @apply text-2xl
    }

    .heading-md {
        @apply text-4xl
    }

    .heading-lg {
        @apply text-8xl
    }

}

/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {

    .tag {
        @apply text-sm inline-block p-1 uppercase tracking-wide text-stone-600;
    }

    .button {
        @apply inline-block px-4 py-2 uppercase tracking-widest bg-pumpkin text-white font-sans
    }

    .bg-image-style {
        background-color: #EED5BD;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

}

/* UTILITY CLASSES */

/* Temporary Styles */
section,
nav,
div,
p {
    border: 1px solid olive;
}