/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {

    body {
        @apply text-pumpkin
    }

    nav {
        @apply text-pumpkin font-sans uppercase tracking-wide
    }

    header nav a {
        @apply py-2 px-4 my-2 mx-4
    }

    footer h2 {
        @apply text-light
    }

    footer {
        @apply text-light
    }

    footer nav a {
        @apply block font-light leading-8 text-light
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif tracking-wide mb-4
    }

    p {
        @apply font-p tracking-wide mb-4
    }

    /* Typography Classes */

    .heading-sm {
        @apply text-2xl mb-4
    }

    .heading-md {
        @apply text-4xl mb-8
    }

    .heading-lg {
        @apply text-8xl mb-16
    }

}

/* ----------- ADDITIONAL COMPONENTS  --------- */

@layer components {

    .tag {
        @apply text-sm inline-block p-1 uppercase tracking-wide text-stone-600;
    }

    .button {
        @apply inline-block px-8 py-2 uppercase tracking-widest bg-pumpkin text-white font-sans
    }

    .bg-image-style {
        background-color: #EED5BD;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

}

/* UTILITY CLASSES */

@layer utilities {
    .text-light {
        @apply text-white
    }

}