<section class="grid grid-cols-5 bg-pumpkin p-5p">
    <nav class="col-span-3 grid grid-cols-3 gap-4">
        <div>
            <h2>Our Classes</h2>
            <a href="#">Bikram Hot Yoga</a>
            <a href="#">Mandala Yoga</a>
            <a href="#">Chakra Flow</a>
            <a href="#">Vinyasa Flow</a>
        </div>
        <div>
            <h2>Schedule</h2>
            <a href="#">Lorem Ipsum</a>
            <a href="#">Dolor Sit Amet</a>
            <a href="#">Consectetur Adipisicing</a>
            <a href="#">Recusandae Exercitationem</a>
        </div>
        <div>
            <h2>Contact</h2>
            <a href="#">Phone Number</a>
            <a href="#">Email</a>
            <a href="#">Address</a>
            <a href="#">Address</a>
        </div>
    </nav>
    <nav class="col-span-2">
        <form>
            <label for="email">Subscribe to our newsletter</label>
            <input type="email" id="email">
            <button type="submit">Subscribe</button>
        </form>
    </nav>
    <div class="col-span-1">
        <a href="#">Terms of Use</a>
    </div>
</section>