<section class="bg-feature text-white">
    <div class="grid md:grid-cols-5 p-5p">
        <nav class="col-span-3 grid md:grid-cols-3 gap-4">
            <div>
                <h2 class="mt-4 md:mt-0">Our Classes</h2>
                <a href="#">Bikram Hot Yoga</a>
                <a href="#">Mandala Yoga</a>
                <a href="#">Chakra Flow</a>
                <a href="#">Vinyasa Flow</a>
            </div>
            <div>
                <h2 class="mt-4 md:mt-0">Schedule</h2>
                <a href="#">Lorem Ipsum</a>
                <a href="#">Dolor Sit Amet</a>
                <a href="#">Consectetur Adipisicing</a>
                <a href="#">Recusandae Exercitationem</a>
            </div>
            <div>
                <h2 class="mt-4 md:mt-0">Contact</h2>
                <a href="#">Phone Number</a>
                <a href="#">Email</a>
                <a href="#">Address</a>
                <a href="#">Address</a>
            </div>
        </nav>
        <div class="col-span-2">
            <form class="text-right">
                <label for="email" class="font-serif uppercase mb-4 block">Subscribe to our newsletter</label>
                <input type="email" id="email" class="bg-transparent border border-white">
                <button type="submit" class="button">Subscribe</button>
            </form>
        </div>
    </div>
    <div class="col-span-5 p-5p border-t border-white">
        <a href="#" class="font-light uppercase">Terms of Use</a>
    </div>
</section>