<header class="flex justify-between py-8 px-16 absolute inset-x-0">
    <a href="/index.html" class="text-feature font-serif heading-sm">Samadhi Shala</a>
    <!-- Desktop -->
    <nav class="hidden md:block">
        {% for item in site.data.site-settings.navigation %}
        <a href="{{item.url}}">{{item.title}}</a>
        {% endfor %}
    </nav>

    <!-- Mobile -->
    <div class="md:hidden">
        <a class="hamburger-button md:hidden">&#x2022; &#x2022; &#x2022;</a>
    </div>

    <div class="mobile-menu">
        <nav>
            {% for item in site.data.site-settings.navigation %}
            <a href="{{item.url}}">{{item.title}}</a>
            {% endfor %}
        </nav>
</header>